.bg-main{
  background-color: rgb(218, 218, 218);
}

.min-height-row {
    min-height: 92%; 
  }
  
  .white-box {
    border-radius: 20px; 
  }
  
  .blue-gradient-box {
    background: linear-gradient(to top, #6767fe, #87e1ff); 
    border-radius: 15px; 
  }

  .top-bar {
    font-size: 1.25rem; 
  }
  
  .top-bar .btn, .top-bar .form-control {
    padding: 0.75rem 1.25rem; 
    font-size: 1.25rem; 
  }
  
  .top-bar .form-control {
    height: calc(2.5rem + 2px); 
  }

  .nav {
    width: 100%; 
  }
  
  .nav_link {
    color: #303440;
    display: flex;
    align-items: center; 
    padding: 15px 20px; 
    text-decoration: none;
  }
  
  .nav_link svg {
    margin-right: 8px; 
  }
  
  .nav_link .fa-arrow-down {
    margin-left: 15px; 
  }
  
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 20px; 
  }
  
  .list_item {
    list-style: none;
    width: 100%;
    text-align: left; 
    overflow: hidden;
    margin-bottom: 10px; 
  }
  
  .list_item--click {
    cursor: pointer;
  }
  
  .list_button {
    display: flex;
    align-items: center; 
    gap: 1em;
  }

  
  .list_show {
    margin-left: auto;
    list-style: none;
    transition: height 0.4s;
    height: 0;
    overflow: hidden;
  }
  
  .list_inside {
    padding-left: 30px; 
  }
  
  .nav_link--inside {
    border-radius: 6px;
    padding-left: 20px;
  }
  
  .nav_link--inside:hover {
    background: #f6f8fa;
  }

  .arrow-icon {
    transition: transform 0.3s ease;
  }
  
  .rotate-180 {
    transform: rotate(180deg);
  }

  /* Transición de entrada y salida para el menú Admin */
.collapse-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.collapse-enter-active {
  max-height: 4000px;
  opacity: 1;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.collapse-exit {
  max-height: 5000px;
  opacity: 1;
  overflow: hidden;
}

.collapse-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out;
}

/* Sin animación para el menú de Tickets */
.no-collapse-enter {
  height: auto;
  opacity: 1;
}

.no-collapse-enter-active {
  height: auto;
  opacity: 1;
}

.no-collapse-exit {
  height: auto;
  opacity: 1;
}

.no-collapse-exit-active {
  height: auto;
  opacity: 1;
}

/* CSS para la rotación de la flecha */
.arrow-icon {
  transition: transform 0.29s ease;
}

.arrow-right {
  transform: rotate(270deg); /* Flecha inicialmente hacia la derecha */
}

.arrow-down {
  transform: rotate(360deg); /* Flecha hacia abajo cuando el menú está abierto */
}




  
  
  
  
  
 
  
  


  
  
  
  
  
  
  
  